#nav-button{
	margin-bottom: 5px;
}

#offer{
	background-color: 	#ADD8E6;
	padding-bottom: 15px;
}

#logo-img{
	padding-bottom: 5px;
	width: 60;
	height: 50;
}

#form-label{
	margin-bottom: 10px;
	padding: 5px;
}